<form [formGroup]="form" (ngSubmit)="sub()">
   <mat-form-field appearance="fill">
    <input matInput placeholder="cin" formControlName="cin">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput placeholder="name" formControlName="name">
      </mat-form-field>
<mat-form-field appearance="fill">
    <input matInput placeholder="email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
    <input matInput placeholder="type" formControlName="type">
      </mat-form-field>
      <button type="submit">submit</button>
</form>
